body {
    background: #dadbf4 url("../img/background.jpg") no-repeat fixed center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
#main-column {
    background-color: #fefefe;
    padding-top: 15px;
}
#empty-top-space {
    height: 10vh;
}
#empty-bottom-space {
    height: 20vh;
}